* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1{
  padding-top: 15px;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 50px;
}

.col-4 {
  background-image: url(../images/Weather\ Side\ Bar.png);
  background-size: cover;
  height: 900px;
}

.col-8 {
  background-image: linear-gradient(to bottom right, salmon, lightsalmon, orange);
}

.form-inline {
margin-left: 60px;
margin-top: 250px;
}

h2 {
  color: white;
  font-size: 35px;
  font-weight: 100;
  margin: 150px;
}

.all-cards {
  margin-top: 40px;
}

.w-75 h5 {
  font-size: 25px;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-right: 15px;
}

.card-body {
  background-color: mistyrose;
}

.hidden {
  display: none;
}

#current-date-uv {
  width: 25%;
  padding: 5px;
}

.low { 
  color: white;
  background-color: green;
}
  
.moderate { 
  color: black;
  background-color: yellow;
}

.high { 
  color: black;
  background-color: orange;
}

.very-high { 
  color: white;
  background-color: red;
}

.extreme { 
  color: black;
  background-color: violet;
}

.history {
  background-color: mistyrose;
  border-radius: 5px;
}