* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

body {
  font-family: 'Roboto', sans-serif;
}

h1{
  padding-top: 15px;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 50px;
}

h2 {
  color: white;
  font-size: 35px;
  font-weight: 100;
  margin: 150px;
}

/*Column Styling Starts*/
#left {
  background-image: url(../images/Weather\ Side\ Bar.png);
  background-size: cover;
  height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right {
  background-image: linear-gradient(to bottom right, salmon, lightsalmon, orange);
}
/*Column Styling Ends*/


/* Search and History Styling Starts */
form {
  margin-left: 60px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.history {
  background-color: mistyrose;
  border-radius: 5px;
}

ul {
  margin: 15px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  
}

li {
  background-color: mistyrose;
  list-style: none;
  border-style: solid;
  border-width: 7px;
  border-color: salmon;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
}

#clear {
  margin-bottom: 15px;
}
/* Search and History Styling Ends */


/* Forecast Styling Starts */
.all-cards {
  margin-top: 40px;
}

.w-75 h5 {
  font-size: 25px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-right: 15px;
}

.card-body {
  background-color: mistyrose;
}

.hidden {
  display: none;
}

#current-date-uv {
  width: 25%;
  padding: 5px;
}

.low { 
  color: white;
  background-color: green;
}
  
.moderate { 
  color: black;
  background-color: yellow;
}

.high { 
  color: black;
  background-color: orange;
}

.very-high { 
  color: white;
  background-color: red;
}

.extreme { 
  color: black;
  background-color: violet;
}
/* Forecast Styling Ends */


/*Media Query Styling */
@media screen and (max-width: 1069px) {
  #search-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  #left {
    height: 300px;
  }
}